.carsList {
    width: 100%;
}

.link {
 text-decoration: none;
}

.list {
    padding: 2%;
    border-bottom: 1px solid #bfbfbf;
    flex-wrap: wrap;
    color: black;
    list-style: none;
    display: flex;
}

.item {
    font-weight: 300;
    padding: 2%;
    width: 50%;


}